nav {
  background: lightseagreen;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 40px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}

#btn {
  margin-left: auto;
  box-shadow: 5px 6px;
  background-color: lemonchiffon;
  font-size: 30px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 5px;
}

.bar-item {
    background-color: #08AD7E;
    position: relative;
    height: 98px;
    width: 1920px;
}
