#nav-bar {
    background: lightseagreen;
    height: 20%;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 50px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
    cursor: auto;
}

label.choice {
    margin-left: 20px;
    vertical-align: super;
    font-size: 50px;
}

label {
    margin-left: 10px;
    vertical-align: super;
    font-size: 25px;
    font-family: monospace;
    cursor: pointer;
}

#btn1 {
    box-shadow: 1px 1px;
    background-color: lemonchiffon;
    font-size: 30px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 2%;
    vertical-align: super;
}

#btn2 {
    box-shadow: 1px 1px;
    background-color: lemonchiffon;
    font-size: 30px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 2%;
    vertical-align: super;
}

#slider {
    margin-left: 5%;
}

#myRange {
    vertical-align: super;
}

div.nobreak {
    white-space: nowrap;
}
